:root { 
    --clr-bg: hsl(235, 21%, 11%);
    --clr-bg-light: hsl(0, 0%, 98%);

    --clr-task-bg: hsl(235, 24%, 19%);
    --clr-task-bg-light: hsl(0, 0%, 98%);

    --clr-input-txt: hsl(234, 39%, 85%);
    --clr-input-txt-light: hsl(235, 19%, 35%);

    --clr-task-txt: hsl(234, 39%, 85%);
    --clr-task-txt-light: hsl(235, 19%, 35%);

    --clr-placeholder-txt: hsl(235, 19%, 35%);
    --clr-placeholder-txt-light: hsl(237, 9%, 61%);

    --clr-placeholder-bg: hsl(233, 14%, 35%);
    --clr-placeholder-bg-light: hsl(0, 0%, 98%);

    --clr-check-circle-outline: hsl(237, 14%, 26%);
    --clr-check-circle-outline-light: hsl(233, 11%, 84%);
    --clr-info-hover: hsl(220, 98%, 61%);

    --clr-gradient1-start: #55ddff; 
    --clr-gradient1-end: #c058f3;

    --ff: 'Josefin Sans', sans-serif;
    --txt-accent-main: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease;
}


/* body styles START here */
body {
    display: flex;
    justify-content: center;
    font-family: var(--ff);
    font-size: 18px;
}

.light {
    background-color: var(--clr-bg-light);
}

.dark {
    background: var(--clr-bg);
    background-image: url("./assets/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
}
/* body styles END here */



/* bg-img styles START here */
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
}

.light .bg-img {
    background-image: url("./assets/bg-desktop-light.jpg");
}

.dark .bg-img {
    background-image: url("./assets/bg-desktop-dark.jpg");
}
/* bg-img styles END here */



/* basic styles START here */
/* basic container styles */
.container {
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    margin: 0 30px;
    margin-top: 100px;
}

/* basic header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* basic title styles */
.title {
    color: var(--txt-accent-main);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
}
/* basic styles END here */



/* THEME CHANGE BUTTON (CHECKBOX) styles START here */
.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35px;
    height: 35px;
}

.checkbox-toggle {
    opacity: 0;
    position: absolute;
    width: 25px;
    height: 25px;
}

.checkbox-toggle:hover {
    cursor: pointer;
}
/* THEME CHANGE BUTTON (CHECKBOX) styles END here */



/* toggle-logo styles START here */
.toggle-logo {
    width: 25px;
    height: 25px;
}

.light .toggle-logo {
    background-image: url("./assets/icon-moon.svg");
    background-repeat: no-repeat;
    background-size: 25px;
}

.dark .toggle-logo {
    background-image: url("./assets/icon-sun.svg");
    background-repeat: no-repeat;
    background-size: 25px;
}
/* toggle-logo styles END here */



/* new-todo styles START here */
.new-todo {
    height: 70px;
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
    /* align-items: center; */
}

.light .new-todo {
    background-color: var(--clr-task-bg-light);
}

.dark .new-todo {
    background-color: var(--clr-task-bg);
}
/* new-todo styles END here */



/* send-container styles START here */
.send-container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* send-container styles END here */



/* send-btn styles START here */
.send-btn {
    height: 20px;
}

.light .send-btn {
    filter: opacity(70%);
    -webkit-filter: opacity(70%);
    filter: contrast(20%);
    -webkit-filter: contrast(20%);
}

.dark .send-btn {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
/* send-btn styles END here */



/* check-circle styles START here */
.check {
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light .check-circle {
    border: 1px solid var(--clr-check-circle-outline-light);
}

.dark .check-circle {
    border: 2px solid var(--clr-check-circle-outline);
} 

.check-circle img {
    visibility: hidden;
}

.check-circle:hover,
.check-circle:active, 
.check-circle.checked {
    background: linear-gradient(135deg, var(--clr-gradient1-start) 0%, var(--clr-gradient1-end) 100%);
    /* border-color: linear-gradient(135deg, var(--clr-gradient1-start) 0%, var(--clr-gradient1-end) 100%); */
}

.check-circle:hover img, 
.check-circle:active img,
.check-circle.checked img{
    visibility: visible;
}
/* check-circle styles END here */



/* todo-text styles START here */
.light .todo-text.checked {
    color: var(--clr-task-txt);
}

.dark .todo-text.checked {
    color: var(--clr-task-txt-light);
}

.todo-text.checked {
    text-decoration: line-through;
}
/* todo-text styles END here */



/* new-todo styles START here */
.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.light .new-todo-input input{
    color: var(--clr-task-txt-light);
}

.dark .new-todo-input input{
    color: var(--clr-task-txt);
}

.new-todo-input form {
    flex-grow: 1;
}

.new-todo-input input{
    width: 100%;
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: var(--ff);
}

.light .new-todo-input input::placeholder {
    color: var(--clr-placeholder-txt-light);
}

.dark .new-todo-input input::placeholder {
    color: var(--clr-placeholder-txt);
}
/* new-todo styles END here */



/* todo-item styles START here */
.todo-item {
    width: 100%;
    display: flex;
    height: 70px;
    font-size: 18px;
    /* cursor: pointer; */
}

.light .todo-item {
    background-color: var(--clr-task-bg-light);
    color: var(--clr-task-txt-light);
    border-bottom: 1px solid var(--clr-check-circle-outline-light);
}

.dark .todo-item {
    background-color: var(--clr-task-bg);
    color: var(--clr-task-txt);
    border-bottom: 1px solid var(--clr-check-circle-outline);
}

.light .todo-item:hover {
    box-shadow: 0px 0px 7px 0px var(--clr-check-circle-outline-light);
    border-bottom: none;
}

.dark .todo-item:hover {
    box-shadow: 0px 0px 7px 0px var(--clr-bg);
    border-bottom: none;
}

.todo-item:hover {
    transform: translateY(-2px);
    /* cursor:grab; */
    /* border-color: var(--clr-task-bg); */
}

.todo-text {
    width: 100%;
    display: flex;
    align-items: center;
}

.delete-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delete-item {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
}

.todo-item:hover .delete-item {
    visibility: visible;
}

.delete-item img {
    width: 20px;
    transition: none;
}

.delete-item:hover {
    cursor: pointer;
}

.crop {
    max-width: 550px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 750px) {
    .crop {
        max-width: 400px;
    }
}
@media (max-width: 600px) {
    .crop {
        max-width: 300px;
    }
}
@media (max-width: 500px) {
    .crop {
        max-width: 200px;
    }
}
@media (max-width: 450px) {
    .crop {
        max-width: 200px;
    }
}
@media (max-width: 400px) {
    .crop {
        max-width: 160px;
    }
}
/* todo-item styles END here */



/* todo-items-wrapper styles START here */
.todo-items-wrapper {
    margin: 1.5rem 0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgb(0 0 0 / 40%);
}

.light .todo-items-wrapper {
    background-color: var(--clr-task-bg-light); 
}

.dark .todo-items-wrapper {
    background-color: var(--clr-task-bg); 
}
/* todo-items-wrapper styles END here */



/* todo-items-info styles START here */
.todo-items-info {
    height: 70px;
    width: 100%;
    color: var(--clr-placeholder-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.items-status {
    display: flex;
    justify-content: center;
}

.items-status span {
    padding: 0 5px;
    cursor: pointer;
}

.items-status span:hover,
.items-status span.active,
.items-clear:hover {
    color: var(--clr-info-hover);
    transition: none;
}

.items-clear {
    cursor: pointer;
    text-align: end;
}
/* todo-items-info styles END here */



/* usable in the future for adding drag and drop feature */
/* .drag{
    text-align: center;
    margin: 50px;
    color: hsl(234, 11%, 52%)
} */

/* .sort-chosen{
    background: rgb(158, 98, 255);
    opacity: .5;
} */



/* #mobile-pagebar styles START here */
#mobile-pagebar {
    display: none;
}

.light #mobile-pagebar {
    background-color: var(--clr-task-bg-light); 
    color: var(--clr-task-txt-light);
    box-shadow: 0px 2px 30px 0px rgb(0 0 0 / 40%);
}

.dark #mobile-pagebar {
    background-color: var(--clr-task-bg);
    color: var(--clr-placeholder-bg);
}

@media (max-width: 700px) {
    #desktop-pagebar {
        display: none;
    }
    #mobile-pagebar {
        height: 60px;
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        width: 100%;
    }
    .light .bg-img {
        background-image: url("./assets/bg-mobile-light.jpg");
    }
    .dark .bg-img {
        background-image: url("./assets/bg-mobile-dark.jpg");
    }
    .delete-item {
        visibility: visible;
    }
    .check-circle:hover, 
    .check-circle:active, 
    .check-circle {
        background: none;
    }
    .check-circle:hover img, 
    .check-circle:active img, 
    .check-circle img{
        visibility: hidden;
    }
    .check-circle.checked {
        background: linear-gradient(135deg, var(--clr-gradient1-start) 0%, var(--clr-gradient1-end) 100%);
    }
    .check-circle.checked img{
        visibility: visible;
    }
}
/* #mobile-pagebar styles END here */